<ion-header>
  <ion-toolbar [ngStyle]="{'background-color': '#222222'}">
    <ion-icon name="arrow-back-outline" [routerLink]="['..']" routerLinkActive="router-link-active" [ngStyle]="{'margin-left': '20px','font-size': '32px'}">play</ion-icon>
    <ion-text slot="end" [ngStyle]="{'margin-right': '20px','border': 'solid 1px black','border-radius': '1.2vh','padding': '2px 10px','font-size':'calc(20px + 0.390625dvw)','background-color':'#33ddd','color':'#ffd534'}">{{pieceStockage}}</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <div class="principal">

  <div  class="authorView" >
    <h1 class="mention" *ngIf="correct" [ngStyle]="{'color':'#e0bb2e','font-weight':'bold','margin-bottom':'4.4vh','font-size':'calc(60px + 0.390625dvw)','text-transform': 'capitalize'}">{{mention()}}</h1>
  </div>

  <div id="joker">
    <div  *ngFor="let word of jokerList ; let i=index" (click)="undoWord(i)" [ngClass]="{jokerListElement: currentJokerClass==='jokerListElement',validCitation: currentJokerClass==='validCitation',failSentence: currentJokerClass==='failSentence',validWord: jokerValidateWord[i]===i}">
      {{jokerList[i]}}</div>
  </div>


  <div  class="authorView" >
    <img *ngIf="correct" src="{{theAuthorImage}}" alt="{{theAuthorName}}" [ngStyle]="{'height':'175px','width':'175px','border-radius':'1vh'}">
    <h4 *ngIf="correct" [ngStyle]="{'color':'white'}">{{theAuthorName}}</h4>
  </div>

  <div *ngIf="correct" [ngStyle]="{'font-size':'calc(23px + 0.390625dvw)','color':'#ffd534','text-shadow':'0 0 1.1vh #ffd534'}">{{nextClick===false ? '+'+nbrCoin : nbrCoin}}</div>

  <ion-list class="myList" *ngIf="listOfWords.length">
    <div id="tasks">
      <div class="task" *ngFor="let word of listShuffle ; let i=index" (click)="selectWord(i)" [ngClass]="{task: clickToChoiceW===false,wordChoiceToRight: clickToChoiceW===true}">
        {{word}}
      </div>
    </div>
  </ion-list>

  <div class="gameOptionBt" *ngIf="listOfWords.length">


    <ion-button class="btValid" *ngIf="correct" (click)="next()" shape="round" color="success">
      <ion-icon class="iconV1" slot="icon-only" name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="optJoker" *ngIf="listOfWords.length" [ngStyle]="{'display':'flex','justify-content':'center'}">
    <ion-button class="btJoker" *ngIf="!correct" (click)="oneRightPosition()" shape="round" color="success">
      <ion-icon class="iconV1 iv1" src="assets/icon/one_word_answer.svg"></ion-icon>
    </ion-button>

    <ion-button class="btJoker btChoice" *ngIf="!correct" (click)="choiceWordToRightPosition()" shape="round" color="success">
      <ion-icon class="iconV1 iv2" src="assets/icon/up_choice.svg"></ion-icon>
    </ion-button>
  </div>

  </div>

</ion-content>
